services:
  frontend:
    environment:
      - NEXT_PUBLIC_BACKEND_URL=http://backend:8000

  cypress:
    image: cypress/included:9.4.1
    volumes:
      - ./frontend/cypress:/cypress
      - ./frontend/cypress.json:/cypress.json
    environment:
      - CYPRESS_BASE_URL=http://frontend:3000
      - CYPRESS_BACKEND_URL=http://backend:8000
    depends_on:
      - frontend
